$color-pack = false

@import '~vuetify/src/stylus/main'

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  margin: 0

input[type='number']
  -moz-appearance: textfield
